<div class="uix-calendar">
  <div class="uix-calendar__header">
    <div class="uix-calendar__selector">
      <a href="javascript: 0;" class="uix-calendar__select-btn"><</a>
      <span>2095</span>
      <a href="javascript: 0;" class="uix-calendar__select-btn">></a>
    </div>
    <div class="uix-calendar__selector">
      <a href="javascript: 0;" class="uix-calendar__select-btn"><</a>
      <span>09</span>
      <a href="javascript: 0;" class="uix-calendar__select-btn">></a>
    </div>
  </div>
  <div class="uix-calendar__body">
    <table class="uix-calendar__table">
      <thead>
        <tr>
          <#for (var i = 0; i < weeksList.length; i++) {#>
          <th><#=weeksList[i]#></th>
          <#}#>
          <th>日</th>
          <th>一</th>
          <th>二</th>
          <th>三</th>
          <th>四</th>
          <th>五</th>
          <th>六</th>
        </tr>
      </thead>
      <tbody>
        <!-- <#for (var i = 0; i < 7; i++) {#>
        <tr>
          <#for (var j = 0; j < 7; i++) {#>
          <td class="uix-calendar__date"><#=dates[i*7+j]#></td>
          <#}#>
        </tr>
        <#}#> -->
      </tbody>
    </table>
  </div>
</div>
